/* GLOBAL */
h1 {
  margin-bottom: 30px !important;
}

.form-control,
.form-select {
  outline: none !important;
  box-shadow: none !important;
}

.form-label {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  background-color: #076bc9 !important;
  border: none !important;
}

.red-btn {
  background-color: #d60031 !important;
}

.navbar {
  background-color: #076bc9 !important;
  margin-bottom: 80px;
}

.nav-link {
  margin: 0 20px;
}

.card {
  margin-top: 50px;
  font-size: 20px;
}

/* LOGIN PAGE */
.login-page-wrapper {
  background-color: #076bc9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-wrapper form {
  width: 550px;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}

.login-page-wrapper form h2 {
  text-align: center;
  font-weight: bold;
}

.user-page-wrapper .btn:first-child {
  margin-right: 30px;
}

/* TASK PAGE */
.add-task-btn {
  margin-bottom: 30px;
  float: right;
}

/* ERROR PAGE */

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #076bc9;
  color: #fff;
}

.error-page h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 60px;
}
